.mainBottom {
    height: 400px;
    background: #181a1e;
    padding-top: 2.5rem;
    padding-right: 11%;
    padding-left: 11%;
    @media (max-width:960px): {
      height: 550px;
    }
}

.mainBottomTab {
    height: 100%;
    width: 33%;
    float: left;
    @media (max-width:960px): {
      clear: both;
      height: auto;
      width: 100%;
      margin-bottom:20px;
    }
  }